body {
    padding-left: 200px;
    padding-top: 20px;
    color: white;
    background-color: #2d455d;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    }
h1 {
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
    font-size: 25px
    }
    
table, th, td {
    }
th, td {
    padding: 5px;
    }
th {
    text-align: left;
    }
table#t01 {
  width: 75%;
}  
table#t01 tr:nth-child(even) {
  background-color: #808291;
}
table#t01 tr:nth-child(odd) {
  background-color: #3f576f;
}
table#t01 th {
  color: white;
  fint-size: 20px
}
    
ul.navbar {
    list-style-type: none;
    color: white;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 120px;
    text-align: center }
ul.navbar li {
    background: #cca2a3;
    margin: 8px 0;
    padding: 7px; }
ul.navbar li:hover {
    background-color: #c06c84;
}
ul.navbar a {
    text-decoration: none }
    
a:link {
    color: white }
a:visited {
    color: black }
    
div.gallery {
  margin: 5px;
  border-style: outset;
  border-color: #586a82;
  float: left;
  width: 180px;
  background-color: #355e7e;
}
div.gallery:hover {
  border-style: outset;
  border-color: #cca2a3;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}

address {
    color: #cca2a3;
    margin-top: 15px;
    padding-top: 15px;
    border-top: thin dotted
    }