<!DOCTYPE html>
<html>
<!--page starts!-->
    <head>
        <!--specifies title of the page !-->
        <title>My Art</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/css/pagestyle1.css"/>
    </head>
    
    <body>
    <!--"stuff" starts!-->
        <ul class="navbar">
            <li><a href="/">Home</a>
        </ul>
        
        <p> <b> YUH </b> babies</p>
        <p> When I have some time to sketch I first draw in a sketchbook or loose paper with pencils or charchoal.</p>
        <p> Later, I can take a photo or scan of my sketch and digitally paint it.</p>
        <p> The program I use is called Procreate, which I run on my iPad.</p>
        <p> Here's some of my art: <b> Enjoy!</p>
        
        <h1 style="margin-left: 40px"> Some Animals</h1>
        
        <div class="gallery">
            <a href="/static/images/shark.jpg">
            <img src="/static/images/shark.jpg" alt="Shark" width="600" height="400">
            </a>
        <div class="desc">Black Tip Reef Shark (drawn from reference)</div>
        </div>
        
        <div class="gallery">
            <a href="/static/images/orca.jpg">
            <img src="/static/images/orca.jpg" alt="Orca" width="600" height="400">
            </a>
        <div class="desc">Orca Whale (drawn from reference)</div>
        </div>
        
        <div class="gallery">
            <a href="/static/images/turtle.jpg">
            <img src="/static/images/turtle.jpg" alt="Turtle" width="600" height="400">
            </a>
        <div class="desc">Sea Turtle (drawn from refence)</div>
        </div>
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        
        <h1 style="margin-left: 40px"> Some people/character designs</h1>
        
        <div class="gallery">
            <a href="/static/images/ferns.jpg">
            <img src="/static/images/ferns.jpg" alt="Ferns" width="600" height="400">
            </a>
        <div class="desc">Lady in ferns (drawn from refence)</div>
        </div>
        
        <div class="gallery">
            <a href="/static/images/pirate.jpeg">
            <img src="/static/images/pirate.jpeg" alt="Pirate" width="600" height="400">
            </a>
        <div class="desc">Pirate DnD character design</div>
        </div>
        
        <div class="gallery">
            <a href="/static/images/rouge.jpg">
            <img src="/static/images/rouge.jpg" alt="Rogue" width="600" height="400">
            </a>
        <div class="desc">Rogue DnD character design </div>
        </div>

    </body>
    
</html>

