<!DOCTYPE html>
<html>
<!--page starts!-->
    <head>
        <!--specifies title of the page !-->
        <title>My Classes</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/css/pagestyle1.css"/>
    </head>
    <body>
    <!--"stuff" starts!-->
        <ul class="navbar">
            <li><a href="/">Home</a>
        </ul>
    
        <h1> My Classes</h1>

        <table id="t01">
            <tr>
                <th colspan="3" style="text-align:center">Freshman Year</th>
            </tr>
            <tr>
                <th>Class Name</th>
                <th>Call Number</th>
                <th>Professor</th>
            </tr>
            <tr>
                <th colspan="3" style="text-align:center">Semester I</th>
            </tr>
            <tr>
                <td>Multivariable Calculus for Engineers and Applied Scientists</td>
                <td>APMAE2000_001_2019_3</td>
                <td>Drew Youngren</td>
            </tr>
            <tr>
                <td>General Chemistry I</td>
                <td>CHEMUN1403_001_2019_3</td>
                <td>Gerard Parkin</td>
            </tr>
            <tr>
                <td>Art of Engineering</td>
                <td>ENGIE1102_001_2019_3</td>
                <td>David Vallancourt</td>
            </tr>
            <tr>
                <td>Romanticism</td>
                <td>ENGLGU4400_001_2019_3</td>
                <td>Joseph Albernaz</td>
            </tr>
            <tr>
                <td>Physics I: Mechanics and Relativity</td>
                <td>PHYSUN1601_001_2019_3</td>
                <td>Jeremy Dodd</td>
            </tr>
            
            <tr>
                <th colspan="3" style="text-align:center">Semester II</th>
            </tr>
            <tr>
                <td>Intro to Computing for Engineers and Applied Scientists</td>
                <td>ENGIE1006_001_2020_1</td>
                <td>Tim Paine</td>
            </tr>
            <tr>
                <td>Linear Algebra</td>
                <td>MATHUN2010_004_2020_1</td>
                <td>Nathan Dowlin</td>
            </tr>
            <tr>
                <td>Mechanics I</td>
                <td>ENMEE3105_001_2020_1</td>
                <td>James Hone</td>
            </tr>
            <tr>
                <td>Physics II: Thermodynamics, Electricity, & Magnetism</td>
                <td>PHYSUN1602_001_2020_1</td>
                <td>Jeremy Dodd</td>
            </tr>
            <tr>
                <td>Univeersity Writing: Readings in Data & Society</td>
                <td>ENGLCC1010_540_2020_1</td>
                <td>Adrianna Munson</td>
            </tr>
        </table>
        
        <p>My three favorite classes from my freshman year have been Mechanics I, University Writing, and Intro to Python.</p>

        <address>
        Lily Bresee<br>
        UNI: lmb2296<br>
        Contact me: lmb2296@columbia.edu
        </address>
        
    </body>
    
</html>

