<!DOCTYPE html>
<html>
<!--page starts!-->
    <head>
        <link rel="stylesheet" href="styles.css">
        <!--specifies title of the page !-->
        <title>Lily's 1006 Homepage</title>
    <head>
    <body>
    <!--"stuff" starts!-->
    <p>Wassup!</p>
    <p> Some of my favorite things ouside of class are my cats and baking!!</p>
    <a href = "/recipes"> See some of my favorite things to cook </a> </p>
    <a href = "/cats"> Meet my cats </a>   
    </body>
    
</html>

