<!DOCTYPE html>
<html>
<!--page starts!-->
    <head>
        <title>Lily's 1006 Homepage</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/css/pagestyle1.css"/>
    </head>
    <body>
        
        <ul class="navbar">
            <li><a href="/art">My Art</a>
            <li><a href="/classes">My Freshman year classes</a>
            <li><a href="/recipes">See some of my favorite recipes</a>
        </ul>
        
        <h1>Hi!!! This is me: </h1>
        <p style="margin-left: 150px; color:#cca2a3; font-size:20px">Lily Bresee</p>
        
        <img src="/static/images/me.jpeg" alt="Me" width="375" height="390" border="3px">
        <p> I am a freshman Mechanical Engineering Major. </p>
        <p> Some of my favorite things to do ouside of class are drawing, painting, playing ultimate frisbee, and cooking!!</p>
        
        <address>
        Lily Bresee<br>
        UNI: lmb2296<br>
        Contact me: lmb2296@columbia.edu
        </address>

    </body>
    
</html>

