<!DOCTYPE html>
<html>
<!--page starts!-->
    <head>
        <!--specifies title of the page !-->
        <title>Favorite Recipes</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/css/pagestyle1.css"/>
    </head>
    <body>
    <!--"stuff" starts!-->
        <ul class="navbar">
            <li><a href="/">Home</a>
            <li><a href="https://cookiesandcups.com/the-best-coffee-cake-recipe-ever/">A very good coffee cake that I highly recommend!!</a>
        </ul>
    
        <p> </p>

        <address>
        Lily Bresee<br>
        UNI: lmb2296<br>
        Contact me: lmb2296@columbia.edu
        </address>
        
    </body>
    
</html>

